{% extends "base.html" %}

{% block content %}
        <div class="one-third column">
            <h3>About Mail Interview?</h3>
            <p>Mail Intervie is a simple software for make interviews in mailing lists.</p>
        </div>
        <div class="one-third column">
            <h3>What does it do?</h3>
            <ul class="square">
                <li><strong>Surveys of its customers</strong>: Create simple surveys to study the views of your customers and improve business.</li>
            </ul>
        </div>
        <div class="one-third column">
            <h3>How to Use?</h3>
            <p>
                Create a poll and get the generated html-code that you can send to all its customers.
                Voting will take place by moving customers to a specially crafted link.
                After the closure of the voting people can see the results, and you will receive HTML-code for publication or distribution to users.
            </p>
            <p>
                <a href="/launch/" class="full-width button">Launch poll</a>
            </p>
        </div>
{% endblock %}